
@{
    ViewBag.Title = "AdminOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>For Admins Only</h1>
<div id="divUserListConteiner">
    @Html.Action("ManagerUserPartial", "Home");
</div>

