
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br/>

<input type="hidden" id="hiduserID" value="@ViewBag.UserID" />
@Html.Action("ShoutBoxPartial", "Home")
No Account Yet? @Html.ActionLink("Signup Now!", "SignUp", "Account")
